### Requires "REST Client" in Visual Studio Code
### Get it here: https://marketplace.visualstudio.com/items?itemName=humao.rest-client
### This allows a simple test right out of VSC.
### Adust the IP adresses below, if required. 
### Run "kubectl get svc" to figure out the public IPs of your services.


### Call DAPR-enabled endpoint in cluster (via frontend-a-daprized)
### -->A(daprized)-->B-->function
http://FE_DAPR/


### Call endpoint without pre-confiured DAPR (frontend-a)
### -->A-->B-->function
http://FE_A/


### Call endpoint backendapp-B directly
### -->B-->function
http://BACKEND_B/


### Call your external service directly
### This could be any http endpoint (even http://google.com)
### Just make sure this endpoint is configured in the backendapp-b as targeturl
### -->function
http://dmx-getrandom.azurewebsites.net/api/HttpTriggerCSharp1